//@media (max-width: 768px)
@media (max-width: 768px) {
  .header {
    margin-bottom: 63px !important;
  }
  .container {
    padding: 0 2.605% !important;

    .navbar-search {
      max-width: 479px !important;
      input {
        width: 96% !important;
      }
    }
  }

  .main {
    .container {
      .main-content {
        .main-content__text {
          margin-bottom: 24px !important;
          .text-title {
            font-size: 28px !important;
          }
        }
        .card-items {
          gap: 3.1% !important;
          .card-item {
            width: 31.197% !important;
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }
}

//@media (max-width: 375px)
@media (max-width: 375px) {
  .header {
    margin-bottom: 88px !important;
  }
  .container {
    padding: 0 2.605% !important;
    height: 91% !important;
    .navbar-wrapper {
      width: 97% !important;
    }
    .navbar-left {
      margin-left: 11px !important;
    }
    .navbar-right {
      margin-top: 8px;
      span {
        display: none;
      }
    }

    .navbar-search {
      display: none;
      .navbar-search__img {
        display: none;
      }
    }
  }
  .navbar-search__mobile {
    display: block !important;
    height: 33px !important;
    .navbar-search__mobile-img {
      display: none;
    }
    input {
      height: 33px !important;
      padding-left: 48px !important;
    }
  }

  .main {
    .container {
      .main-content {
        .main-content__text {
          margin-left: 10px !important;
          .text-title {
            font-size: 28px !important;
          }
        }
        .card-items {
          .card-item {
            width: 94.245% !important;
            height: 140px !important;
            margin: 0px auto !important;
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }
}
